{% extends 'base.html.twig' %}

{% block title %}
    Nouvelle maison
{% endblock %}

{% block body %}
    Ajouter une nouvelle maison

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" formnovalidate>Envoyer !</button>
    {{ form_end(form) }}
{% endblock %}


